<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{title}}</title>
   </head>
   <body>
      {{{body}}}
   </body>
   <link rel='stylesheet' href='/stylesheets/style.css'>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfgQ-r24bVOLN2X6WqBPXjvwqd-aTeEJU&libraries=places&callback=initMap" async defer></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
   <script src="https://d3js.org/d3.v4.min.js"></script>
   <script src="javascripts/jscript.js"></script>

</html>
